* {
  margin: 0;          /* Elimina márgenes */
  padding: 0;         /* Elimina rellenos */
 /* Incluye el padding y el borde en el tamaño total */
}

body {
  overflow: hidden; /* Esto ocultará ambas barras de scroll (horizontal y vertical) */
}
.dashboard{
  display: flex;
 }

.sidebar{
  width: 20%;
  height: 100vh;
  color: white;
  background-color: #212529;

}
.contenedor{
  width: 100%;
  text-align: center;
  color:white;

}
h1{
  background-color: red;
  padding: 10px;
}
